/*#logout_button{
    position: fixed;
    top:500px;
    left:125px;
}

#review_button{
    position: fixed;
    top:500px;

}*/

p{
    text-align: center;
    top: 200px;
}

#items{
    top: 300px;
    left: 200px;
}

#welcome {
    color: white;
}

